hr {
  border-top: 3px solid white;
  width: 90%;

}
  .hrstyles-2{
    width: 80%;
  }

.menu{
  color: white;
border-color: white;
font-family: 'Monoton', cursive;
text-align: center;
margin: 90px 120px 90px;
padding:10px 50px ;
filter: drop-shadow(
6px 10px 22px #000000);
@media only screen and (max-width: 900px) {
margin: 10px;
margin-top: 60px;
 }



}
.big{
  font-size: 3rem;
  line-height: 1.5;
   @media only screen and (max-width: 900px) {
     font-size: 2rem;
     text-align: c;
     
     
   }
}


/* Buttons */

.btn-edt {
  position: relative;
  margin: auto 200px 260px auto;
  top: 30px;
  left: 100px;
  font-size: 1.2rem;
  padding: 2px 27px;
   border: solid 2px white;
  border-radius: 100px;
  color: white;
  @media only screen and (max-width: 900px) {
     right:30px;
     top: 20px;
     margin-left:-40px;
     
   }

 
}


  .btn-edt:hover{
    color: grey;
    border: 2px solid #363636;
     box-shadow: 0 6px 6px 0 grey;
  }


.home{

     
    
}

/* Title Image */

.title-image {
  width: 100%;
 display: flex;
 margin: 90px 170px auto;
 height: 150%;
}


.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.text-read{
 top: 140px;
 left: 50px;
  position: relative;

}


//icon
.icon{
 margin-left: -20px;
 padding-top: 10px;
 color:white;
 width: 70px;
}