
.button-upload{
    margin-left: 590px;
    margin-bottom: 20px;
    
    
}
.buttonUpload{
  
  border: none;
  color: black;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 12px;
}
.btN1:hover{
    background-color: rgb(252, 138, 138);
}
.btN2{
    background-color: grey;
    color: white;
    
}
.btN2:hover{
        background-color: rgb(43, 105, 240);
    }

.upload-title{
    padding: 25px;
}

.modal-body{
    margin-top: -40px;
}