//nabvar
.navbar{
  margin: 30px;
  font-weight: bolder;
  color: #ffff !important;
   font-family: 'Special Elite', cursive;
  :hover{
  color: grey;
 
}

  .navbar-collapse{
    @media only screen and (max-width: 900px) {
   left: 6px;
    margin-left: -300px;
    }
  }
 
}
.navbar-nav{
  padding: 0px 500px;
color: #ffff ; 


}

.navbar-brand{
left: 60px;
@media only screen and (max-width: 900px) {
   margin-left:9px;
}
}
.navbar-toggler{
  
@media only screen and (max-width: 900px) {
   padding:-10px auto -22px 50px;
   
}

}

.nav-link{
   @media only screen and (max-width: 900px) {
   left: 300px;
   position: abosule;
  }
}


.nav-item{
  margin: 15px;
  font-size: 1.2rem;
  color: #ffff ;
  
}
.btn-ed{
  font-size: 1.2rem;
  margin-bottom: -1px;
  padding: 10px;
}
