@import '/node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import "/node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
.inner-container {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .sub-header {
        text-align: center;
        font-size: 18px;
        margin-bottom: 7px;
    }
    .draggable-container {
        min-width: 56em;
        max-width: 45em;
        min-height: 18em;
        max-height: 18em;
        background-color: rgb(244, 248, 248);
        padding: 6px;
        border-radius: 4px;
        border: 2px dashed rgba(95, 92, 92, 0.2);
        font-size: 14px;
        display: flex;
        margin-bottom: 7px;
        position: relative;
        overflow: hidden;
        #file-browser-input {
            width: 120%;
            height: 150%;
            top: 0px;
            left: 0px;
            position: absolute;
            color: transparent;
            opacity: 0;
        }
        .browse-file{
            margin-bottom: 50px;
              border: none;
             color: black;
             padding: 2px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            background-color: rgb(26, 170, 218);
        }
        .files-preview-container {
        max-height: 30px;
            .file {
                width: 6.8em;
                height: 60px;
                
                position: relative;
                margin-left: 340px;
                margin-top: 50px;
                border-radius: 4px;
                img {
                    width:9 80%;
                    height: 110%;
                }
                .containerr {
                    display: flex;
                    position: absolute;
                    flex-direction: column;
                    top: 0;
                    left: 0;
                    width: 120%;
                    height: 100%;
                    padding: 0;
                    transition: background, 160ms ease-in-out;
                    &:hover {
                        
                        .remove-btn {
                            visibility: visible;
                        }
                    }
                    .remove-btn {
                        color: #af1e1b;
                        width: fit-content;
                        position: absolute;
                        right: -7px;
                        top: -7px;
                        z-index: 99;
                        cursor: pointer;
                        visibility: hidden;
                    }
                    .progress-bar {
                        position: absolute;
                        display: flex;
                        align-self: center;
                    }
                }
            }
        }
        .helper-text {
            position: absolute;
            display: flex;
            justify-self: center;
            align-self: center;
            left: 34%;
            margin: 125px ;
            transform: translateX(-50%);
            color: #797676;
        }
        .file-browser-container {
            position: absolute;
            display: flex;
            justify-self: center;
            align-self: center;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

//Scroll BAR
.ip-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 254, 254);
}

.ip-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #42576b;
    height: 5px;
}

.ip-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f2f7fc;
    /* border-radius: 4px; */
    /* background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent); */
}

.file-name{
    text-align: center;
    margin-left: -14px;
}

.successFile-name{
    display: flex;
    margin-top: 10px;
   width: 1000px;
   margin-left: -25px;
}


.upload-button{
    color: white;
}

#uploadProgress {
  width: 100%;
  background-color: #ddd;
}

#uploadBar {
  width: 10%;
  height: 5px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.upload-image-logo{
padding-bottom: 20px;
color: red;
position: absolute;
margin: 72px;
top: -130px;
}

.barProgress{
    position: relative;
    top: 10px;
    left: -100px;
    height:3.5px;
    width: 300%;
    background-color: rgb(209, 208, 208);
    font-size: 30px;
}
.imagen-uploading{
margin-left: 15px;
}